In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn import metrics

In [2]:
df = pd.read_csv("./CSV_Files/car_data.csv")

In [3]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [5]:
df.shape

(301, 9)

In [6]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [7]:
print(df.Fuel_Type.value_counts())
print(df.Seller_Type.value_counts())
print(df.Transmission.value_counts())

Petrol    239
Diesel     60
CNG         2
Name: Fuel_Type, dtype: int64
Dealer        195
Individual    106
Name: Seller_Type, dtype: int64
Manual       261
Automatic     40
Name: Transmission, dtype: int64

In [8]:
df.replace({"Fuel_Type":{'Petrol':0, 'Diesel':1, 'CNG':2}}, inplace=True)
df.replace({'Seller_Type':{'Dealer':0, 'Individual':1}}, inplace=True)
df.replace({'Transmission':{'Manual':0, 'Automatic':1}}, inplace=True)

In [9]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,0,0,0,0
1,sx4,2013,4.75,9.54,43000,1,0,0,0
2,ciaz,2017,7.25,9.85,6900,0,0,0,0
3,wagon r,2011,2.85,4.15,5200,0,0,0,0
4,swift,2014,4.60,6.87,42450,1,0,0,0

In [10]:
X = df.drop(['Car_Name','Selling_Price'],axis=1)
y = df['Selling_Price']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.1, random_state=1)

In [12]:
X_train.head()

,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
197,2010,0.51,33000,0,1,0,0
202,2015,5.70,28200,0,0,0,0
59,2014,35.96,41000,1,0,1,0
51,2015,30.61,40000,1,0,1,0
89,2014,6.76,40000,0,0,0,0

In [32]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

In [33]:
lr = LinearRegression()

In [34]:
lr.fit(X_train, y_train)

LinearRegression()

In [35]:
lr.predict(X_train)

array([-1.24947492e+00,  4.29324855e+00,  2.07063143e+01,  1.87315141e+01,
        4.29521918e+00,  3.51842698e+00,  1.68126690e+00, -1.44807694e-02,
        5.77688755e+00,  8.11485977e+00,  9.73330494e+00,  4.34973980e-01,
        5.87712308e+00,  5.67592018e+00,  4.35026689e+00,  7.20031793e+00,
        5.90358248e+00,  8.03975345e+00,  1.68318590e+00,  3.84212006e+00,
        1.75278077e+00,  2.52494121e+00,  4.21313340e+00,  1.51437145e+00,
       -3.38194213e+00,  2.05092063e+01,  6.82538951e-01,  5.44681073e+00,
        5.68189657e+00,  6.47657096e-01,  2.33089126e+00,  1.03781355e+01,
        6.03774137e+00, -1.02107092e+00,  1.01089022e+00,  2.30174427e-01,
        5.45024280e-01,  7.42646572e+00, -1.89145501e-02,  7.52726968e+00,
        8.44112188e+00,  8.59842643e+00,  9.07191573e-01,  1.36647899e+00,
        1.92298031e+00,  2.13341555e+00,  8.32039543e+00,  9.04738511e+00,
        4.24636718e+00,  3.93207032e+00,  1.91182573e+00,  1.02181827e+01,
        1.02671063e+01,  1.72289120e+00,  6.39482100e+00,  2.19877772e+00,
        1.45760578e+00,  1.46897182e+00,  6.31349368e+00,  4.45570938e+00,
        5.65955287e+00,  3.19856918e+00,  2.25468637e+00,  9.90931764e+00,
        9.81568391e+00, -1.43287822e-01,  1.60804961e+00,  4.70160808e-01,
        8.06729649e-01,  1.63948770e+00,  8.22321055e+00,  3.01834760e+00,
        1.72452461e+01,  3.66373888e+00, -3.53000753e-02,  3.32437994e-01,
        1.77243456e+00,  7.43363640e-01,  1.02660000e+01,  4.27491014e+00,
        7.71392811e+00,  5.19970904e+00, -1.57309015e+00,  4.49237128e+00,
        2.15946688e+00,  3.61234376e+00,  7.62406842e+00,  1.38283790e+00,
        6.24378845e+00,  9.50544999e-01,  5.20303716e+00,  5.66286313e+00,
        5.78521704e-01,  5.15314672e+00,  7.23862244e+00,  1.87315141e+01,
        1.85850569e-01,  6.54594197e+00,  6.09217253e+00,  2.10827619e+01,
        4.48826512e+00,  4.97300617e+00,  1.48264205e+01,  7.75566179e+00,
        6.03727866e-01,  9.79409856e+00,  4.89015636e+00, -2.70499837e-01,
        7.31421725e+00,  1.00491277e+01,  7.52411939e+00,  5.25197805e+00,
        2.36260032e+00,  1.15785535e+01,  1.62506120e+01,  1.89989580e-01,
        2.74771851e+00,  4.22176648e+00,  1.85627666e+00,  4.67834934e+00,
        4.04355764e-01,  1.31560262e+00,  9.61219675e-01,  4.41954681e+00,
        3.59796021e+00,  8.25811464e+00,  4.92847793e+00,  5.12016625e+00,
        8.56503455e-01, -9.41139803e-01,  4.31930444e+00, -1.96729241e+00,
        1.30641373e+00,  6.21620478e+00,  6.84676634e+00,  1.25846855e+00,
        3.72581286e+00, -2.24134708e-01,  8.96859116e+00,  4.94259833e+00,
        7.35438192e-01,  5.20372684e+00,  1.09703455e+00,  8.95087802e+00,
       -2.03319188e+00,  9.15067302e+00,  4.47369061e+00,  1.88732580e+00,
        1.09910898e+01,  3.54219678e+00,  1.73510180e+01,  8.24541891e-02,
        9.17730390e+00,  1.05700076e+01,  2.89139944e-01,  6.09634104e+00,
       -1.12142584e+00, -1.11809212e-01,  4.36019619e+00,  1.04442791e+00,
        6.73611254e+00,  2.35488050e-01,  4.45463985e+00,  4.95762271e+00,
        5.20234462e+00,  1.68680256e+01,  6.56335175e+00,  4.42338987e+00,
        8.61975460e+00,  2.53656019e+00,  2.26544550e+00,  4.85336684e+00,
        6.26293535e+00,  3.93740914e+00,  6.48672870e+00,  1.93918094e+00,
        4.74279743e+00, -3.09151825e+00,  6.01561277e+00,  6.03600948e+00,
        8.85076017e+00,  1.44091251e+00,  4.43826761e+00,  7.07633242e+00,
       -4.76164236e-01,  3.12810725e+00,  1.48419365e+01,  5.42376894e+00,
        5.18204655e+00,  1.92994374e+00,  4.42900478e+00,  4.03395598e+00,
        1.58768251e+00,  5.89925508e+00,  2.18268834e-02,  1.22950406e+00,
        2.87899877e+00, -5.96678153e-01,  2.92124790e+00, -2.10298317e+00,
        6.58080233e+00,  3.53146948e+00, -2.55000100e+00,  7.83729645e+00,
        6.50942262e+00,  1.39093969e+00,  5.60959070e+00,  4.31136805e+00,
       -1.19800076e-01,  6.17230466e+00,  7.42832547e-01,  1.38932132e+00,
        9.25138400e+00,  7.86755177e+00,  3.22158819e+00,  3.59636204e+00,
        1.98138215e+00, -1.14157149e+00,  2.79378724e+00,  1.97471651e+00,
        6.83227132e+00,  6.97099212e-01,  7.20121065e+00,  7.85445017e+00,
        2.19195724e+00,  1.26130079e-01,  4.31201110e+00,  2.38630415e+00,
       -2.71558680e+00,  2.22385439e+01,  8.44112188e+00,  2.15519927e+00,
        3.40881869e+00,  7.25226623e+00,  6.39066575e+00,  2.09012447e+00,
        8.50003498e+00,  5.99339155e+00,  4.61506876e+00, -2.60031627e-01,
        1.30375011e+00,  7.34830554e+00,  4.21829844e+00,  4.81064111e+00,
        5.87678430e+00,  6.65781901e+00,  5.40885116e+00,  7.11042425e+00,
        1.39971767e+00,  4.23287502e+01,  5.23960847e+00,  4.67781662e+00,
        5.93053982e+00,  1.71615711e+01,  1.70975730e+00,  6.61015582e+00,
        5.21280873e+00,  7.83836190e+00,  2.29728300e+00,  1.34725204e+00,
        9.15407054e+00,  7.14292245e+00,  1.90589558e+00,  6.41085968e-01,
        1.57056726e+00,  2.03393686e+00,  2.77604439e+00,  9.09206803e+00,
        6.83152551e+00, -3.81888626e+00])

In [36]:
lr.score(X_test, y_test)

0.39311067657268395

In [37]:
X_train

array([[-1.26436568, -0.81201491, -0.10223427, ...,  1.36833491,
        -0.37956264, -0.17474081],
       [ 0.46500987, -0.22827416, -0.22254744, ..., -0.73081524,
        -0.37956264, -0.17474081],
       [ 0.11913476,  3.17519306,  0.0982877 , ..., -0.73081524,
         2.63461126, -0.17474081],
       ...,
       [-0.22674035,  1.22376687,  0.47429144, ..., -0.73081524,
        -0.37956264, -0.17474081],
       [ 1.15676009,  0.18788012, -0.54987448, ..., -0.73081524,
        -0.37956264, -0.17474081],
       [-3.68549144, -0.61293569,  2.25389878, ...,  1.36833491,
        -0.37956264, -0.17474081]])