# Series in Pandas

In [1]:
import pandas as pd

In [2]:
lit = [1,2,3,"Azeem"]

In [3]:
ser = pd.Series(lit)
print(ser)

0        1
1        2
2        3
3    Azeem
dtype: object

In [4]:
ser[0]

1

In [5]:
ser[2]

3

In [6]:
ser[0:3]

0    1
1    2
2    3
dtype: object

In [7]:
type(ser)

pandas.core.series.Series

In [8]:
ser1 = pd.Series(lit)
print(ser1)

0        1
1        2
2        3
3    Azeem
dtype: object

In [9]:
ser + ser1

0             2
1             4
2             6
3    AzeemAzeem
dtype: object

In [10]:
ser2 = pd.Series(lit, index = ['a','b','c','d'])
print(ser2)

a        1
b        2
c        3
d    Azeem
dtype: object

In [11]:
ser + ser2

0    NaN
1    NaN
2    NaN
3    NaN
a    NaN
b    NaN
c    NaN
d    NaN
dtype: object

In [12]:
ser3 = pd.Series(['1','2','3','4'], index = ['a','b','c','d'], dtype = float)
print(ser3)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [13]:
dect_s = pd.Series({'a':1,'b':2})
dect_s

a    1
b    2
dtype: int64

In [14]:
max(ser3)

4.0

In [15]:
min(ser3)

1.0

# DataFrame

In [16]:
emp_df = pd.DataFrame([1,2,3])
emp_df

   0
0  1
1  2
2  3

In [17]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [18]:
dec = {"ID":[1,2,3,4]}
dec

{'ID': [1, 2, 3, 4]}

In [19]:
pd.DataFrame(dec)

   ID
0   1
1   2
2   3
3   4

In [20]:
dec1 = {"ID":pd.Series([1,2,3,4])}
dec1

{'ID': 0    1
 1    2
 2    3
 3    4
 dtype: int64}

In [21]:
pd.DataFrame(dec1)

   ID
0   1
1   2
2   3
3   4

# Read CSV

In [22]:
file = pd.read_csv("CSV_Files//annual-enterprise-survey-2020-financial-year-provisional-csv.csv")
file

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,Yes,Yes,NaN,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,No,No,no,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,NaN,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,NaN,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [23]:
type(file)

pandas.core.frame.DataFrame

In [24]:
file.columns

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

## nrows, usecols, skiprows, index_col, header, prefix, names

In [25]:
file = pd.read_csv("CSV_Files//annual-enterprise-survey-2020-financial-year-provisional-csv.csv", nrows = 3)
file

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,Yes,Yes,NaN,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,No,No,no,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...

In [26]:
file = pd.read_csv("CSV_Files//annual-enterprise-survey-2020-financial-year-provisional-csv.csv", usecols = [0,2], nrows = 2)
file

  Year Industry_code_NZSIOC
0  Yes                  NaN
1   No                   no

In [27]:
file = pd.read_csv("CSV_Files//annual-enterprise-survey-2020-financial-year-provisional-csv.csv", skiprows = [2])
file

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,Yes,Yes,NaN,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,NaN,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,NaN,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,99999,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"32,730",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37074,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [28]:
file = pd.read_csv("CSV_Files//annual-enterprise-survey-2020-financial-year-provisional-csv.csv", skiprows = 2)
file

,No,No.1,no,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630","ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)"
0,2020,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,NaN,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,NaN,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,99999,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"32,730",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,99999,All industries,Dollars (millions),H10,Indirect taxes,Financial performance,"7,509",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37073,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37074,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [29]:
file = pd.read_csv("CSV_Files//annual-enterprise-survey-2020-financial-year-provisional-csv.csv", skiprows = [2,3])
file

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,Yes,Yes,NaN,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,NaN,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,NaN,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,99999,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"32,730",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,99999,All industries,Dollars (millions),H10,Indirect taxes,Financial performance,"7,509",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37073,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37074,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [30]:
file = pd.read_csv("CSV_Files//annual-enterprise-survey-2020-financial-year-provisional-csv.csv", skiprows = [2,3], index_col = 0)
file

,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Year,,,,,,,,,
Yes,Yes,NaN,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
2020,Level 1,NaN,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
2020,Level 1,NaN,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
2020,Level 1,99999,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"32,730",ANZSIC06 divisions A-S (excluding classes K633...
2020,Level 1,99999,All industries,Dollars (millions),H10,Indirect taxes,Financial performance,"7,509",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [31]:
file = pd.read_csv("CSV_Files//annual-enterprise-survey-2020-financial-year-provisional-csv.csv", index_col = "Industry_aggregation_NZSIOC")
file

,Year,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Industry_aggregation_NZSIOC,,,,,,,,,
Yes,Yes,NaN,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
No,No,no,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
Level 1,2020,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
Level 1,2020,NaN,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
Level 1,2020,NaN,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...
Level 3,2013,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
Level 3,2013,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
Level 3,2013,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
Level 3,2013,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
Level 3,2013,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [32]:
file = pd.read_csv("CSV_Files//annual-enterprise-survey-2020-financial-year-provisional-csv.csv")
file

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,Yes,Yes,NaN,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,No,No,no,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,NaN,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,NaN,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [33]:
file = pd.read_csv("CSV_Files//annual-enterprise-survey-2020-financial-year-provisional-csv.csv", header = [1])
file

,Yes,Yes.1,Unnamed: 2,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258","ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)"
0,No,No,no,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,NaN,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,NaN,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,99999,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"32,730",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37074,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [34]:
file = pd.read_csv("CSV_Files//annual-enterprise-survey-2020-financial-year-provisional-csv.csv", header = None)
file

,0,1,2,3,4,5,6,7,8,9
0,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
1,Yes,Yes,NaN,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
2,No,No,no,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,NaN,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37080,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [35]:
file = pd.read_csv("CSV_Files//annual-enterprise-survey-2020-financial-year-provisional-csv.csv", header = None, prefix="col-")
file

,col-0,col-1,col-2,col-3,col-4,col-5,col-6,col-7,col-8,col-9
0,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
1,Yes,Yes,NaN,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
2,No,No,no,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,NaN,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37080,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [36]:
file = pd.read_csv("CSV_Files//annual-enterprise-survey-2020-financial-year-provisional-csv.csv", usecols = [0,1,2], nrows = 2, names = ['a','b','c'])
file

      a                            b                     c
0  Year  Industry_aggregation_NZSIOC  Industry_code_NZSIOC
1   Yes                          Yes                   NaN

## Head(), Tail(), dtype, true_values, false_values

In [37]:
file = pd.read_csv("CSV_Files//annual-enterprise-survey-2020-financial-year-provisional-csv.csv")
file

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,Yes,Yes,NaN,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,No,No,no,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,NaN,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,NaN,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [38]:
file.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,Yes,Yes,NaN,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,No,No,no,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,NaN,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,NaN,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...

In [39]:
file.head(50)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,Yes,Yes,NaN,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,No,No,no,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,NaN,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,NaN,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
5,2020,Level 1,99999,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"32,730",ANZSIC06 divisions A-S (excluding classes K633...
6,2020,Level 1,99999,All industries,Dollars (millions),H10,Indirect taxes,Financial performance,"7,509",ANZSIC06 divisions A-S (excluding classes K633...
7,2020,Level 1,99999,All industries,Dollars (millions),H11,Depreciation,Financial performance,"26,821",ANZSIC06 divisions A-S (excluding classes K633...
8,2020,Level 1,99999,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"119,387",ANZSIC06 divisions A-S (excluding classes K633...
9,2020,Level 1,99999,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,305,ANZSIC06 divisions A-S (excluding classes K633...
10,2020,Level 1,99999,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"1,756",ANZSIC06 divisions A-S (excluding classes K633...
11,2020,Level 1,99999,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"450,394",ANZSIC06 divisions A-S (excluding classes K633...
12,2020,Level 1,99999,All industries,Dollars (millions),H20,Non-operating expenses,Financial performance,"16,274",ANZSIC06 divisions A-S (excluding classes K633...
13,2020,Level 1,99999,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,109",ANZSIC06 divisions A-S (excluding classes K633...
14,2020,Level 1,99999,All industries,Dollars (millions),H22,Closing stocks,Financial performance,"69,123",ANZSIC06 divisions A-S (excluding classes K633...
15,2020,Level 1,99999,All industries,Dollars (millions),H23,Surplus before income tax,Financial performance,"79,400",ANZSIC06 divisions A-S (excluding classes K633...
16,2020,Level 1,99999,All industries,Dollars (millions),H24,Total assets,Financial position,"2,396,143",ANZSIC06 divisions A-S (excluding classes K633...
17,2020,Level 1,99999,All industries,Dollars (millions),H25,Current assets,Financial position,"665,643",ANZSIC06 divisions A-S (excluding classes K633...
18,2020,Level 1,99999,All industries,Dollars (millions),H26,Fixed tangible assets,Financial position,"562,646",ANZSIC06 divisions A-S (excluding classes K633...
19,2020,Level 1,99999,All industries,Dollars (millions),H29,Other assets,Financial position,"1,167,854",ANZSIC06 divisions A-S (excluding classes K633...
20,2020,Level 1,99999,All industries,Dollars (millions),H30,Total equity and liabilities,Financial position,"2,396,143",ANZSIC06 divisions A-S (excluding classes K633...
21,2020,Level 1,99999,All industries,Dollars (millions),H31,Shareholders funds or owners equity,Financial position,"775,466",ANZSIC06 divisions A-S (excluding classes K633...
22,2020,Level 1,99999,All industries,Dollars (millions),H32,Current liabilities,Financial position,"866,332",ANZSIC06 divisions A-S (excluding classes K633...
23,2020,Level 1,99999,All industries,Dollars (millions),H33,Other liabilities,Financial position,"754,345",ANZSIC06 divisions A-S (excluding classes K633...
24,2020,Level 1,99999,All industries,Dollars,H34,Total income per employee count,Financial ratios,"385,100",ANZSIC06 divisions A-S (excluding classes K633...
25,2020,Level 1,99999,All industries,Dollars,H35,Surplus per employee count,Financial ratios,"41,700",ANZSIC06 divisions A-S (excluding classes K633...
26,2020,Level 1,99999,All industries,Percentage,H36,Current ratio,Financial ratios,77,ANZSIC06 divisions A-S (excluding classes K633...
27,2020,Level 1,99999,All industries,Percentage,H37,Quick ratio,Financial ratios,69,ANZSIC06 divisions A-S (excluding classes K633...
28,2020,Level 1,99999,All industries,Percentage,H39,Return on equity,Financial ratios,10,ANZSIC06 divisions A-S (excluding classes K633...
29,2020,Level 1,99999,All industries,Percentage,H40,Return on total assets,Financial ratios,3,ANZSIC06 divisions A-S (excluding classes K633...
30,2020,Level 1,99999,All industries,Percentage,H41,Liabilities structure,Financial ratios,32,ANZSIC06 divisions A-S (excluding classes K633...
31,2020,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H01,Total income,Financial performance,"5,099","ANZSIC06 groups A011, A012, and A013"
32,2020,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"4,721","ANZSIC06 groups A011, A012, and A013"
33,2020,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,164,"ANZSIC06 groups A011, A012, and A013"
34,2020,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H07,Non-operating income,Financial performance,215,"ANZSIC06 groups A011, A012, and A013"
35,2020,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H08,Total expenditure,Financial performance,"4,165","ANZSIC06 groups A011, A012, and A013"
36,2020,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H09,Interest and donations,Financial performance,207,"ANZSIC06 groups A011, A012, and A013"
37,2020,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H10,Indirect taxes,Financial performance,36,"ANZSIC06 groups A011, A012, and A013"
38,2020,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H11,Depreciation,Financial performance,264,"ANZSIC06 groups A011, A012, and A013"
39,2020,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H12,Salaries and wages paid,Financial performance,836,"ANZSIC06 groups A011, A012, and A013"
40,2020,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H13,Redundancy and severance,Financial performance,0,"ANZSIC06 groups A011, A012, and A013"
41,2020,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"2,800","ANZSIC06 groups A011, A012, and A013"
42,2020,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H20,Non-operating expenses,Financial performance,23,"ANZSIC06 groups A011, A012, and A013"
43,2020,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H21,Opening stocks,Financial performance,374,"ANZSIC06 groups A011, A012, and A013"
44,2020,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H22,Closing stocks,Financial performance,365,"ANZSIC06 groups A011, A012, and A013"
45,2020,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H23,Surplus before income tax,Financial performance,924,"ANZSIC06 groups A011, A012, and A013"
46,2020,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H24,Total assets,Financial position,"16,005","ANZSIC06 groups A011, A012, and A013"
47,2020,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H25,Current assets,Financial position,"2,798","ANZSIC06 groups A011, A012, and A013"
48,2020,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H26,Fixed tangible assets,Financial position,"10,532","ANZSIC06 groups A011, A012, and A013"
49,2020,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H29,Other assets,Financial position,"2,675","ANZSIC06 groups A011, A012, and A013"

In [40]:
file.tail()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [41]:
file.tail(50)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
37030,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Dollars (millions),H27,Additions to fixed assets,Financial position,47,ANZSIC06 group S955
37031,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Dollars (millions),H28,Disposals of fixed assets,Financial position,32,ANZSIC06 group S955
37032,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Dollars (millions),H29,Other assets,Financial position,"3,344",ANZSIC06 group S955
37033,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Dollars (millions),H30,Total equity and liabilities,Financial position,"7,119",ANZSIC06 group S955
37034,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Dollars (millions),H31,Shareholders funds or owners equity,Financial position,"6,273",ANZSIC06 group S955
37035,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Dollars (millions),H32,Current liabilities,Financial position,797,ANZSIC06 group S955
37036,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Dollars (millions),H33,Other liabilities,Financial position,49,ANZSIC06 group S955
37037,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Dollars,H34,Total income per employee count,Financial ratios,"174,700",ANZSIC06 group S955
37038,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Dollars,H35,Surplus per employee count,Financial ratios,"27,200",ANZSIC06 group S955
37039,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Percentage,H36,Current ratio,Financial ratios,316,ANZSIC06 group S955
37040,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Percentage,H37,Quick ratio,Financial ratios,314,ANZSIC06 group S955
37041,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Percentage,H39,Return on equity,Financial ratios,6,ANZSIC06 group S955
37042,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Percentage,H40,Return on total assets,Financial ratios,5,ANZSIC06 group S955
37043,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Percentage,H41,Liabilities structure,Financial ratios,88,ANZSIC06 group S955
37044,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H01,Total income,Financial performance,"36,411","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37045,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H02,Sales of goods not further processed,Financial performance,"2,808","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37046,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H03,Sales of other goods and services,Financial performance,"33,253","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37047,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,C,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37048,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H06,"Government funding, grants and subsidies",Financial performance,C,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37049,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H07,Non-operating income,Financial performance,177,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37050,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H08,Total expenditure,Financial performance,"35,502","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37051,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H09,Interest and donations,Financial performance,438,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37052,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H10,Indirect taxes,Financial performance,82,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37053,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H11,Depreciation,Financial performance,820,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37054,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H12,Salaries and wages paid,Financial performance,"3,894","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37055,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H13,Redundancy and severance,Financial performance,8,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37056,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H17,Purchases of goods bought for resale,Financial performance,"1,679","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37057,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H18,Other purchases and operating expenses,Financial performance,"28,496","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37058,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H20,Non-operating expenses,Financial performance,93,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37059,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H21,Opening stocks,Financial performance,"3,722","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37060,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H22,Closing stocks,Financial performance,"4,041","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37061,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H23,Surplus before income tax,Financial performance,"1,227","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37062,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H24,Total assets,Financial position,"23,102","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37063,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H25,Current assets,Financial position,"9,312","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37064,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H26,Fixed tangible assets,Financial position,"8,357","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37065,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H27,Additions to fixed assets,Financial position,"1,339","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37066,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H28,Disposals of fixed assets,Financial position,375,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37067,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H29,Other assets,Financial position,"5,434","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37068,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H30,Total equity and liabilities,Financial position,"23,102","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37069,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H31,Shareholders funds or owners equity,Financial position,"10,670","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37070,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H32,Current liabilities,Financial position,"10,212","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37071,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H33,Other liabilities,Financial position,"2,220","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37072,2013,Level 3,ZZ11,Food product manufacturing,Dollars,H34,Total income per employee count,Financial ratios,"523,700","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37073,2013,Level 3,ZZ11,Food product manufacturing,Dollars,H35,Surplus per employee count,Financial ratios,"17,700","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37074,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H36,Current ratio,Financial ratios,91,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [42]:
file1 = pd.read_csv("CSV_Files//annual-enterprise-survey-2020-financial-year-provisional-csv.csv", true_values=['Yes'])
file1

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,Yes,Yes,NaN,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,No,No,no,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,NaN,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,NaN,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [43]:
file1 = pd.read_csv("CSV_Files//annual-enterprise-survey-2020-financial-year-provisional-csv.csv", false_values=['No'])
file1

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,Yes,Yes,NaN,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,No,No,no,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,NaN,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,NaN,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [44]:
file = pd.read_csv("CSV_Files//annual-enterprise-survey-2020-financial-year-provisional-csv.csv", dtype = {'Value': 'string'})
file

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,Yes,Yes,NaN,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,No,No,no,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,NaN,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,NaN,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [45]:
file = pd.read_csv("CSV_Files//annual-enterprise-survey-2020-financial-year-provisional-csv.csv", na_values='No')
file

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,Yes,Yes,NaN,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,NaN,NaN,no,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,NaN,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,NaN,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [46]:
file = pd.read_csv("CSV_Files//annual-enterprise-survey-2020-financial-year-provisional-csv.csv", na_values=['No','no'])
file

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,Yes,Yes,NaN,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,NaN,NaN,NaN,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,NaN,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,NaN,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [47]:
file = pd.read_csv("CSV_Files//annual-enterprise-survey-2020-financial-year-provisional-csv.csv", keep_default_na = False)
file

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,Yes,Yes,,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,No,No,no,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [48]:
file = pd.read_csv("CSV_Files//annual-enterprise-survey-2020-financial-year-provisional-csv.csv", na_filter=False)
file

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,Yes,Yes,,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,No,No,no,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [49]:
file.isnull()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
37075,False,False,False,False,False,False,False,False,False,False
37076,False,False,False,False,False,False,False,False,False,False
37077,False,False,False,False,False,False,False,False,False,False
37078,False,False,False,False,False,False,False,False,False,False
37079,False,False,False,False,False,False,False,False,False,False

In [50]:
file.isnull().sum()

Year                           0
Industry_aggregation_NZSIOC    0
Industry_code_NZSIOC           0
Industry_name_NZSIOC           0
Units                          0
Variable_code                  0
Variable_name                  0
Variable_category              0
Value                          0
Industry_code_ANZSIC06         0
dtype: int64

In [51]:
file.isnull().sum().sum()

0

In [52]:
file.notnull()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...
37075,True,True,True,True,True,True,True,True,True,True
37076,True,True,True,True,True,True,True,True,True,True
37077,True,True,True,True,True,True,True,True,True,True
37078,True,True,True,True,True,True,True,True,True,True
37079,True,True,True,True,True,True,True,True,True,True

In [53]:
file.notnull().sum()

Year                           37080
Industry_aggregation_NZSIOC    37080
Industry_code_NZSIOC           37080
Industry_name_NZSIOC           37080
Units                          37080
Variable_code                  37080
Variable_name                  37080
Variable_category              37080
Value                          37080
Industry_code_ANZSIC06         37080
dtype: int64

In [54]:
file.notnull().sum().sum()

370800

In [72]:
file1 = pd.read_csv("CSV_Files//Azeem1.csv")
file1

,Name,Class,section,section.1,section.2,section.3,section.4,section.5,section.6
0,Azeem,5,g,g,g,g,g,g,g
1,moazma,6,f,f,f,f,f,f,f
2,moazam,7,i,i,i,i,i,i,i
3,moazam,7,i,i,i,i,i,NaN,i
4,moazam,7,i,i,i,i,i,i,i
5,moazam,7,i,i,i,i,i,i,i
6,moazam,7,i,i,i,i,i,i,i
7,moazam,7,i,i,i,i,i,i,i

In [73]:
file1.dropna(axis=0)

,Name,Class,section,section.1,section.2,section.3,section.4,section.5,section.6
0,Azeem,5,g,g,g,g,g,g,g
1,moazma,6,f,f,f,f,f,f,f
2,moazam,7,i,i,i,i,i,i,i
4,moazam,7,i,i,i,i,i,i,i
5,moazam,7,i,i,i,i,i,i,i
6,moazam,7,i,i,i,i,i,i,i
7,moazam,7,i,i,i,i,i,i,i

In [74]:
file1.dropna(axis=1)

     Name  Class section section.1 section.2 section.3 section.4 section.6
0   Azeem      5       g         g         g         g         g         g
1  moazma      6       f         f         f         f         f         f
2  moazam      7       i         i         i         i         i         i
3  moazam      7       i         i         i         i         i         i
4  moazam      7       i         i         i         i         i         i
5  moazam      7       i         i         i         i         i         i
6  moazam      7       i         i         i         i         i         i
7  moazam      7       i         i         i         i         i         i

In [77]:
file1.dropna(axis=0, how="any") #if one NaN in column or row so any remove all row or column

,Name,Class,section,section.1,section.2,section.3,section.4,section.5,section.6
0,Azeem,5,g,g,g,g,g,g,g
1,moazma,6,f,f,f,f,f,f,f
2,moazam,7,i,i,i,i,i,i,i
4,moazam,7,i,i,i,i,i,i,i
5,moazam,7,i,i,i,i,i,i,i
6,moazam,7,i,i,i,i,i,i,i
7,moazam,7,i,i,i,i,i,i,i

In [78]:
file1.dropna(axis=1, how="any") #if one NaN in column or row so any remove all row or column

     Name  Class section section.1 section.2 section.3 section.4 section.6
0   Azeem      5       g         g         g         g         g         g
1  moazma      6       f         f         f         f         f         f
2  moazam      7       i         i         i         i         i         i
3  moazam      7       i         i         i         i         i         i
4  moazam      7       i         i         i         i         i         i
5  moazam      7       i         i         i         i         i         i
6  moazam      7       i         i         i         i         i         i
7  moazam      7       i         i         i         i         i         i

In [79]:
file1.dropna(axis=0, how="all") #if All NaN in column or row so any remove all row or column

,Name,Class,section,section.1,section.2,section.3,section.4,section.5,section.6
0,Azeem,5,g,g,g,g,g,g,g
1,moazma,6,f,f,f,f,f,f,f
2,moazam,7,i,i,i,i,i,i,i
3,moazam,7,i,i,i,i,i,NaN,i
4,moazam,7,i,i,i,i,i,i,i
5,moazam,7,i,i,i,i,i,i,i
6,moazam,7,i,i,i,i,i,i,i
7,moazam,7,i,i,i,i,i,i,i

In [80]:
file1.dropna(axis=1, how="any") #if one NaN in column or row so any remove all row or column

     Name  Class section section.1 section.2 section.3 section.4 section.6
0   Azeem      5       g         g         g         g         g         g
1  moazma      6       f         f         f         f         f         f
2  moazam      7       i         i         i         i         i         i
3  moazam      7       i         i         i         i         i         i
4  moazam      7       i         i         i         i         i         i
5  moazam      7       i         i         i         i         i         i
6  moazam      7       i         i         i         i         i         i
7  moazam      7       i         i         i         i         i         i

In [85]:
file1.dropna(thresh =8) #accept 8 non NaN values

,Name,Class,section,section.1,section.2,section.3,section.4,section.5,section.6
0,Azeem,5,g,g,g,g,g,g,g
1,moazma,6,f,f,f,f,f,f,f
2,moazam,7,i,i,i,i,i,i,i
3,moazam,7,i,i,i,i,i,NaN,i
4,moazam,7,i,i,i,i,i,i,i
5,moazam,7,i,i,i,i,i,i,i
6,moazam,7,i,i,i,i,i,i,i
7,moazam,7,i,i,i,i,i,i,i

In [86]:
file1.dropna(thresh =9) #accept 9 non NaN values

,Name,Class,section,section.1,section.2,section.3,section.4,section.5,section.6
0,Azeem,5,g,g,g,g,g,g,g
1,moazma,6,f,f,f,f,f,f,f
2,moazam,7,i,i,i,i,i,i,i
4,moazam,7,i,i,i,i,i,i,i
5,moazam,7,i,i,i,i,i,i,i
6,moazam,7,i,i,i,i,i,i,i
7,moazam,7,i,i,i,i,i,i,i

In [89]:
file1.dropna(subset = ['section.5']) # Remove column if it contain NaN

,Name,Class,section,section.1,section.2,section.3,section.4,section.5,section.6
0,Azeem,5,g,g,g,g,g,g,g
1,moazma,6,f,f,f,f,f,f,f
2,moazam,7,i,i,i,i,i,i,i
4,moazam,7,i,i,i,i,i,i,i
5,moazam,7,i,i,i,i,i,i,i
6,moazam,7,i,i,i,i,i,i,i
7,moazam,7,i,i,i,i,i,i,i

In [90]:
file1.dropna(inplace = True) # Change in Real Variable